body{
    background-color:azure;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
}
header,
footer,
h2,
h3,
h4{
    text-align: center;
    background-color: gainsboro;
    color: crimson;
    text-decoration-line: underline;
}

h4{
    text-align:left;
}
p{
    text-align: justify;
    text-indent: 8ch;
}
li{
    text-align:left;
}