body{
    background-color:azure;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,
footer
{
    text-align: center;
    background-color: gainsboro;
}
h2,
h3,
h4{
    color: crimson;
    text-decoration-line: underline;
    text-align:left;
}
p{
    text-align: justify;
    text-indent: 8ch;
}
p::first-letter {
    font-size:120%;
    color: blueviolet;
    text-decoration-line: underline;
}
section:hover {
    background-color: antiquewhite;
}
li{
    text-align:left;
}
h2,h3::first-line {
    color: black;
}
.letter1 {
    color: black;
    text-decoration-line: underline;
    font-size: 120%;
}
.myimage-div
 {
display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}